Vamos começar tirando as colunas que não trasem informação útil (deletados para proteger a privacidade dos clientes).
Onde:
Time: Tempo entre a primeira transação do Dataset e esta (em segundos)
Amount: Preço da compra 
Class: Se é fraude ou não, onde 1 é fraude e 0 não.

Time e Ammount são variáveis quantitativas enquanto Class é uma variável qualitativa.

das 284807 transações, somente 492 são fraudulentas.

Com os dados que temos aqui só será possível treinar a máquina para achar padrões entre o preço das transações e tempo desde a primeira transação.

Existem dois tipos de fraude com cartão de crédito Card-Not-Present (CNP) e Card-Present (CP).
O modus operandi de cada um desses tipos varia e fraudadores se adaptam para não serem pegos pelas tecnologias atuais.

In [13]:
import pandas as pd

file_path = 'creditcard.csv'
data = pd.read_csv(file_path, encoding='latin1')
for i in range(1,29):
    del data['V{0}'.format(i)]
data.describe()

                Time         Amount          Class
count  284807.000000  284807.000000  284807.000000
mean    94813.859575      88.349619       0.001727
std     47488.145955     250.120109       0.041527
min         0.000000       0.000000       0.000000
25%     54201.500000       5.600000       0.000000
50%     84692.000000      22.000000       0.000000
75%    139320.500000      77.165000       0.000000
max    172792.000000   25691.160000       1.000000

In [14]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

Vou analisar quais são as características das transações fraudulentas vs transações legítimas.

In [18]:
frauds = data.loc[data['Class'] == 1]
frauds.head()
frauds.describe()

                Time       Amount  Class
count     492.000000   492.000000  492.0
mean    80746.806911   122.211321    1.0
std     47835.365138   256.683288    0.0
min       406.000000     0.000000    1.0
25%     41241.500000     1.000000    1.0
50%     75568.500000     9.250000    1.0
75%    128483.000000   105.890000    1.0
max    170348.000000  2125.870000    1.0

Das transações fraudulentas a média do valor é de $122,21 com valor máximo de $2125,87